.addpbg {
  position: absolute;
  width: 500px;
  height: 100px;
  top: 40%;
  left: 40%;
  margin: -100px 0 0 -150px;
  padding: 10px;
}
.addpbg button {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 10px;
}
div.transbox {
  margin: 30px;
  background-color: whitesmoke;
  border: 1px solid black;
  opacity: 0.8;
  text-align: center;
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
.add {
  color: black;
}
