/* Float four columns side by side */
.column {
  float: left;
  width: 23%;
  padding: 0 5px;
  border: 10%;
  margin-top: 20px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 10%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}

/* Style the counter cards */
.card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  padding: 10px;
  text-align: left;
  background-color: paleturquoise;
  border: 10%;
}
.delete {
  background-color: red;
  color: white;
}
.edit {
  background-color: blue;
  color: white;
}
/* Add Button */
.btnbg {
  background-color: black;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  float: right;
}
